.container {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.botao {
  font-size: 18px;
  line-height: 1.33;
  padding: 16px 32px;
  display: inline-block;
  border-radius: 4px;
  color: var(--p5);
  background: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 600;
}
.link {
  display: inline-block;
  color: var(--p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--c0);
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 16px;
  }
}
